Setup date range and weekdays

In [2]:
import random
import polars as pl
from datetime import datetime, timedelta, date
import pandas as pd

start_date = '2023-01-12'
end_date =  '2023-07-01'

s = pd.date_range(start_date, end_date, freq='D').to_series()
d = s.dt.day_name()

df = pd.DataFrame(data=d)
df = df.reset_index(level=0)
df.index = df.index + 1
df.rename(columns={'index':'date', 0: 'weekday'}, inplace = True)
df.head()

        date   weekday
1 2023-01-12  Thursday
2 2023-01-13    Friday
3 2023-01-14  Saturday
4 2023-01-15    Sunday
5 2023-01-16    Monday

Select Tuesdays and Thursdays

In [6]:
desired_weekday = ['Tuesday', 'Thursday']
korken_closed = ['2023-03-14', '2023-03-15', '2023-06-29', '2023-06-30']

tt_df = df[df.weekday.isin(desired_weekday) & ~df.date.isin(korken_closed)]

tt_df

          date   weekday
1   2023-01-12  Thursday
6   2023-01-17   Tuesday
8   2023-01-19  Thursday
13  2023-01-24   Tuesday
15  2023-01-26  Thursday
20  2023-01-31   Tuesday
22  2023-02-02  Thursday
27  2023-02-07   Tuesday
29  2023-02-09  Thursday
34  2023-02-14   Tuesday
36  2023-02-16  Thursday
41  2023-02-21   Tuesday
43  2023-02-23  Thursday
48  2023-02-28   Tuesday
50  2023-03-02  Thursday
55  2023-03-07   Tuesday
57  2023-03-09  Thursday
64  2023-03-16  Thursday
69  2023-03-21   Tuesday
71  2023-03-23  Thursday
76  2023-03-28   Tuesday
78  2023-03-30  Thursday
83  2023-04-04   Tuesday
85  2023-04-06  Thursday
90  2023-04-11   Tuesday
92  2023-04-13  Thursday
97  2023-04-18   Tuesday
99  2023-04-20  Thursday
104 2023-04-25   Tuesday
106 2023-04-27  Thursday
111 2023-05-02   Tuesday
113 2023-05-04  Thursday
118 2023-05-09   Tuesday
120 2023-05-11  Thursday
125 2023-05-16   Tuesday
127 2023-05-18  Thursday
132 2023-05-23   Tuesday
134 2023-05-25  Thursday
139 2023-05-30   Tuesday
141 2023-06-01  Thursday
146 2023-06-06   Tuesday
148 2023-06-08  Thursday
153 2023-06-13   Tuesday
155 2023-06-15  Thursday
160 2023-06-20   Tuesday
162 2023-06-22  Thursday
167 2023-06-27   Tuesday

In [10]:
index = tt_df.index
number_of_rows = len(index)
print(f"The number of kitchen days between {start_date} & {end_date} is {number_of_rows}")

The number of kitchen days between 2023-01-12 & 2023-07-01 is 47